/*
 * Static Cascading Style Sheets
 * 
 * 
 */
html{
	font-family: sans-serif;
	font-size: 16px;
	height: 100vh;
}

body{
	text-align: left;
}

.fixed-status{
	position: fixed;
}

.header{
	background-color: white;
	padding: 25px 20px;
	border-bottom-style: solid;
	border-bottom-color: #161a1d;
	border-bottom-width: 2px;
}

.header-logo{
	height: 60px;
	padding: 0px 10px 0px 0px;
	float: left;
}

.header-text{
	font-size: 30px;
	line-height: 5px;
}

.content{
	width: auto;
	padding: 20px;
	overflow-y: auto;
}

.side-nav{
	display: block;
	background-color: #161a1d;
	width: 200px;
	height: 100%;
	float: left;
	margin-right: 20px;
	padding: 20px 20px;
}

.side-nav p{
	color: white;
	padding: 5px 0px;
}

.side-nav a{
	color: white;
	text-decoration: underline;
}

.side-nav a:hover{
	text-decoration: none;
}

.side-nav .topic{
	font-size: 16px;
	color: #9bf6ff;
}

.title1{
	font-size: 25px;
	color: #e76f51;
}

.title2{
	font-size: 20px;
	color: #e76f51;
}

.emphasis{
	font-weight: bold;
}

.text-pos-center{
	text-align: center;
}

.text-pos-left{
	text-align: left;
}

.text-pos-right{
	text-align: right;
}

.text-pos-justify{
	text-align: justify;
}

a{
	color: #e76f51;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

ul{
	list-style-type: square;
	list-style-position: inside;
}

ol{
	list-style-position: inside;
}

.highlight-code{
	display: grid;
	background-color: #fff3b0;
	padding: 20px;
	color: #2b2d42;
	text-align: center;
}

code{
	display: grid;
	background-color: #fff3b0;
	color: #2b2d42;
	margin: 20px 0px;
	padding: 5px;
}

.snippet{
	display: inline-block;
	color: #ee9b00;
}

footer{
	padding: 5px 20px;
	color: white;
	background-color: #161a1d;
}

@media (max-width: 900px) {
	.header{
		padding: 20px 25px;
	}
	.header-logo{
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
	}
	.header-text{
		font-size: 25px;
		line-height: normal;
		text-align: center;
	}
}
